.wrapper {
  display: flex;
  align-items: center;
  color: var(--link-inactive-color);
  cursor: pointer;
}

.wrapper a {
  display: flex;
  color: var(--link-active-color);
}

.wrapper a .dot {
  background-color: var(--link-active-color);
}

.wrapper a:hover {
  color: #587efc;
}

.active {
  color: var(--link-active-color);
  cursor: pointer;
}

.active:hover {
  color: #587efc;
}

.active:hover .dot {
  background-color: #587efc;
}

.stringWithDots {
  display: flex;
  align-items: baseline;
}

.dots {
  width: 13px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding-right: 1px;
  padding-left: 1px;
}

.dot {
  width: 2px;
  height: 2px;
  background-color: var(--link-inactive-color);
}

.active .dot {
  background-color: var(--link-active-color);
}

.copyIcon {
  margin-left: 5px;
}

.wrapper .tooltip {
  width: fit-content;
}
