.tooltip {
  width: fit-content;
  max-width: 400px;
  position: relative;
  background: #ffffff00;
  color: rgba(0, 0, 0, 0.87);
  padding-top: 15px;
  transition: all 0.5s;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 140%;
  word-break: break-word;
  margin-right: 20px;
}

.blackTooltip {
  color: rgba(255, 255, 255, 1);
  padding-top: 7px;
  transform: rotate(-180deg) translateY(52px);
}

.blackTooltip::after,
.blackTooltip::before {
  background: rgba(57, 57, 57, 0.95);
  width: 8px;
  height: 8px;
  top: 5px;
  margin-left: 5px;
}

.whiteTooltip::after,
.whiteTooltip::before {
  background: #ffffff;
  width: 20px;
  height: 20px;
  top: 7px;
}

.content {
  background-color: #ffffff;
  padding: 16px;
  border: 1px solid #ffffff;
  border-radius: 6px;
  box-shadow: 0px 3px 6px rgba(98, 98, 98, 0.2);
  font-size: 14px;
}

.blackContent {
  padding: 8px;
  background-color: rgba(57, 57, 57, 0.95);
  border: 1px solid rgba(57, 57, 57, 0.95);
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
  transform: rotate(180deg);
}

@media (max-width: 768px) {
  .blackContent {
    margin-left: 8px;
  }
}

.tooltip::after,
.tooltip::before {
  content: "";
  position: absolute;
  box-shadow: 0px 3px 6px rgba(98, 98, 98, 0.2);
  z-index: -1;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  border-radius: 2px;
}

.tooltip::before {
  z-index: 1;
  box-shadow: none;
}

.visibleTooltip {
  opacity: 0;
}

@media (max-width: 768px) {
  .tooltip::after,
  .tooltip::before {
    display: none;
  }
  .tooltip {
    padding-top: 3px;
  }
}
