.wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 19px 0 42px 0;
}

.rightSide {
    display: flex;
    align-items: center;
    gap: 20px;
}

.leftSide {
    display: flex;
    align-items: center;
}

.address {
    display: flex;
    flex-wrap: nowrap;
    gap: 10px;
    margin-top: 8px;
}

.switcher p {
    color: #597FFF;
}