.wrapper {
  width: 16px;
  height: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  transition: filter 200ms ease;
  cursor: pointer;
  position: relative;
}

.wrapper .copyIcon {
  fill: #a9b5ff;
  position: absolute;
  left: calc(50% - 6px);
  margin: 0;
}

.wrapper .pressed {
  position: absolute;
  left: calc(50% - 8px);
  top: calc(50% - 8px);
  margin: 0;
  width: 16px;
  height: 16px;
  animation: bounceAnimation 1.35s ease;
}

.wrapper .animationSlide {
  animation: slideAnimation 1.5s ease;
}

@keyframes slideAnimation {
  0% {
    top: calc(50% - 6px);
  }
  30% {
    top: calc(50% - 6px + 40px);
  }
  70% {
    top: calc(50% - 6px + 40px);
  }
  100% {
    top: calc(50% - 6px);
  }
}

@keyframes bounceAnimation {
  0% {
    transform: scale(0);
  }
  25% {
    transform: scale(1.08);
  }
  40% {
    transform: scale(1);
  }
  60% {
    transform: scale(1);
  }
  75% {
    transform: scale(1.08);
  }
  100% {
    transform: scale(0);
  }
}
