.content {
  width: 412px;
  background-color: var(--col--light);
  border-radius: 12px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.topContent {
  width: 100%;
  padding: 32px 0 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #f2f2f5;
}

.topContent img {
  width: 144px;
  height: 120px;
  margin-bottom: 16px;
}

.bottomContent {
  width: 100%;
  padding: 16px 24px 24px 24px;
}

.content button {
  margin-top: 25px;
}

.header {
  text-align: center;
  font-size: 16px;
  max-width: 360px;
}

.infoItem {
  display: flex;
  justify-content: space-between;
  padding: 8px 0;
}

.bottomContentLeftSide {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.bottomContentRightSide {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px;
  border-radius: 8px;
  background-color: #f2f2f5;
}

.bottomContentLeftSide > div {
  color: #949499;
}

.bottomContentLeftSide > div span {
  background-color: #949499;
}

.bottomContent button {
  width: 100%;
}
