.wrapper {
  border-radius: 12px;
  background: var(--col--light);
  padding: 18px 18px 18px 23px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  font-size: 28px;
}

.wrapper span {
  color: #9c9ea6;
}
