@keyframes animation {
  0% {
    transform: translateY(150%);
  }
  100% {
    transform: translateY(0);
  }
}

.dropdownWrapper {
  user-select: none;
  overflow-y: auto;
  background-color: #fff;
  padding: 16px 0;
  border-radius: 12px;
  position: absolute;
  top: calc(100% + 8px);
  left: 0;
  box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.1);
  transition: all ease 200ms;
  z-index: 20;
}

.dropdownWrapperMobile {
  width: 100%;
  height: max-content;
  min-height: 300px;
  background: white;
  border-radius: 25px 25px 0 0;
  padding: 24px;
  display: flex;
  flex-direction: column;
}

.dropdownWrapperMobileHeader {
  display: flex;
  justify-content: space-between;
  margin-bottom: 8px;
  cursor: pointer;
}

.dropdownWrapperMobileContent {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.overlay {
  background-color: rgba(0, 0, 0, 0.56);
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
}

.toLeft {
  left: auto;
  right: 0;
}

.toCenter {
  left: 50%;
  transform: translateX(-50%);
  right: auto;
}

.portal {
  bottom: 0;
  position: fixed;
}
