.stringTemplate {
  font-size: 14px;
  color: var(--col--dark);
  line-height: 16px;
}

.stringTemplateAdionValue {
  font-size: 10px;
  color: var(--col--gray4);
  line-height: 16px;
  text-transform: uppercase;
  margin-left: 5px;
}

.accountTemplate {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 3px;
}

.accountTemplate > span {
  display: flex;
  align-items: center;
}

.accountTemplateIcon svg {
  width: 10px;
  height: 10px;
}

.namesTemplate {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 8px;
  font-size: 16px;
}

.timeTemplate {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.timeTemplate span:first-child {
  color: #1a1a1b;
}

.timeTemplate span:last-child {
  color: #949499;
  font-size: 13px;
}
