.wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  position: relative;
}

.header {
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 16px 0 16px 0px;
  font-size: 24px;
  margin-bottom: 46px;
}

.header > div:first-child {
  font-size: 20px;
}

.switchView {
  margin-bottom: 3px;
}

.contentTabs {
  display: flex;
  flex-direction: column;
  background-color: var(--col--light);
  border-radius: 12px;
  margin-bottom: 20px;
  position: relative;
}

.contentTabs > div:first-child {
  justify-content: flex-start;
  position: relative;
  padding: 0 24px 0 24px;
}

.contentTabs > div:first-child:after {
  content: "";
  display: block;
  height: 1px;
  width: calc(100% + 48px);
  background-color: #f2f2f3;
  position: absolute;
  bottom: 0;
  left: -18px;
}
