.wrapper {
  width: 100%;
  display: flex;
  gap: 24px;
}

.wrapper > div:first-child {
  width: 100%;
  height: fit-content;
  border-radius: 12px;
  overflow: hidden;
}

.wrapper > div {
  background-color: var(--col--light);
}

.summary {
  min-width: 345px;
  padding: 16px;
  border-radius: 12px;
  border: 1px solid #f2f2f3;
  height: fit-content;
}

.summaryHeader {
  font-size: 20px;
  margin-bottom: 16px;
}

.tabs {
  align-items: flex-start;
}

.summary > button {
  width: 100%;
}

.paymentMethod {
  margin-bottom: 16px;
}

.paymentMethodHeader {
  color: #57575a;
  line-height: 20px;
  margin-bottom: 9px;
}

.additionalFee {
  color: #949499;
}

.radioGroup {
  border: 1px solid #f2f2f3;
  border-radius: 10px;
}

.radioGroup > div {
  padding: 8px 12px;
}

.radioGroup > div:first-child {
  border-bottom: 1px solid #f2f2f3;
}
