.wrapper {
  overflow: hidden;
  overflow-x: scroll;
}

.wrapper::-webkit-scrollbar {
  display: none;
}

.table {
  overflow: hidden;
  overflow-x: scroll;
  width: 100%;
  border-collapse: collapse;
}

.table tbody tr:hover {
  background-color: rgb(250, 250, 252);
  transition: all 0.3s;
  min-width: 100px;
}

.table thead {
  font-weight: bold;
  border-top: 0.5px solid var(--col--gray8);
  padding: 13px 0;
  background-color: #f8f5ff;
  color: #6c4cbf;
}

.table thead th {
  text-align: start;
  white-space: nowrap;
}

.table th:first-child,
.table td:first-child {
  padding-left: 24px;
}

.table th:last-child,
.table td:last-child {
  padding-right: 24px;
}

.table th,
.table td {
  padding: 13px 15px;
  text-align: left;
  border-bottom: 0.5px solid var(--col--gray8);
}

.loadingScreen {
  width: 100%;
  display: flex;
  justify-content: center;
}

.headerCellHover {
  cursor: pointer;
}

.sortIcon {
  margin-bottom: -4px;
}

.timeTemplate {
  display: flex;
  flex-direction: column;
}

.nameCards {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  padding: 24px;
}
