.wrapper {
  display: flex;
  align-items: center;
  line-height: 22px;
}

.radioButton {
  appearance: none;
  -webkit-appearance: none;
  width: 16px;
  height: 16px;
  border: 2px solid #1A1A1B;
  border-radius: 50%;
  position: relative;
  cursor: pointer;
  margin: 0;
}

.radioButton:checked::before {
  content: "";
  display: block;
  width: 8px;
  height: 8px;
  background-color: #1A1A1B;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.radioLabel {
  display: flex;
  align-items: center;
  cursor: pointer;
  margin-left: 8px;
}
