.wrapper {
  width: 412px;
  height: 380px;
  display: flex;
  flex-direction: column;
}

.topContent {
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url("./failedBg.svg");
  height: 215px;
}

.topContent img {
  position: relative;
  left: 30px;
  top: 15px;
}

.bottomContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 24px 58px;
  color: #57575a;
  flex-grow: 1;
}

.bottomContent > div:first-child {
  font-size: 18px;
  color: #1a1a1b;
  margin-bottom: 8px;
}

.buttonsBlock {
  width: max-content;
  display: flex;
  flex-direction: row;
  gap: 16px;
  margin-top: 32px;
}

.closeIcon {
  position: absolute;
  right: 16px;
  top: 16px;
  cursor: pointer;
}
