.pager {
    display: flex;
}
.btn {
    outline: none !important;
    border: none;
    background-color: transparent;
    min-width: 32px;
    height: 32px;
    padding: 0 4px;
    margin-right: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 7px;
    transition: all ease 200ms;
    line-height: 16px;
    user-select: none;
    color: rgba(0, 0, 0, 0.8);
	cursor: pointer;
}

.btn:hover {
    background-color: #f0f1f5;
}
.btn:last-child {
    margin-right: 0;
}
.ellipsis {
    cursor: default;
}
.ellipsis:hover {
    background-color: transparent;
}
.active {
    background-color: #f0f1f5;
}
