.inputFile {
  position: relative;
  width: 100%;
  cursor: pointer;
}

.inputFileText {
  display: block;
  width: 600px;
  padding: 10px 12px;
  border-radius: 7px;
  border: 1px solid #7191fc;
  background: #fff;
  height: 40px;
  color: #9c9ea6;
  padding-right: 200px;
  overflow: hidden;
  text-wrap: nowrap;
  text-overflow: ellipsis;
}

.inputFile input[type="file"] {
  position: absolute;
  z-index: -1;
  opacity: 0;
  display: block;
  width: 0;
  height: 0;
}

.inputFileBtn {
  display: flex;
  gap: 8px;
  align-items: center;
  justify-content: center;
  position: absolute;
  right: 13px;
  top: 10px;
  color: #597fff;
  font-size: 14px;
}

.notSupported {
  border-color: #e56767;
}

.fileText {
  color: rgba(0, 0, 0, 0.8);
  border: 1px solid #7DD3A1;
}
