.header {
  padding: 14px 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.bottomBoard {
  border-bottom: 1px solid #e5e5e5;
}

.rightSide {
  display: flex;
  align-items: center;
  gap: 16px;
}
