.wrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 48px 45px 24px 45px;
  background-color: var(--col--light);
  border-radius: 12px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 600px;
  width: 100%;
}

.wrapper label,
.wrapper form {
  width: 100%;
}

.inputFileBtn {
  position: absolute;
  right: 13px;
  top: 12px;
  color: #597fff;
  font-size: 14px;
}

.buttonsBlock {
  width: 100%;
  justify-content: center;
  gap: 8px;
  display: flex;
}
